.App {
  font-family: sans-serif;
  text-align: center;
}
:root {
  --primary-color: #1f2937;
  --secondary-color: #f472b6;
}
body {
  background-color: var(--primary-color);
  color: white;
}
ul {
  list-style-type: none;
  border: 2px solid black;
  padding: 1rem;
  margin: 1rem;
  background-color: var(--secondary-color);
  color: black;
  max-width: 50%;
  display: block;
  margin: 1rem auto;
}
div {
  padding: 0.5rem;
  font-weight: bolder;
  font-size: 1.3rem;
}
button {
  padding: 1rem;
  margin: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}
